article {
    font-family: 'Lato', sans-serif;
    color: black;
}

h1 a:link, h1 a:visited   {
    text-decoration: none;
    color: #eba134;   
}
a:hover {
    font-weight: bold;
}
 header {
    font-family: 'Raleway', sans-serif;
    color: #eba134;
    background-color: white;
 }

 h1 {
     font-size: 60px;
     font-weight: 300;
     padding: 10px;
 }

 h2 {
     color: black;
     font-weight: 300;
     padding: 10px;
 }

 ul {
     padding-inline-start: 10px;
     color: black;
     opacity: 50%;

     
 }

 li {
     list-style-type: none;
     display:inline-block;
     padding-right: 15px;

 }
